@media only screen and (max-width: 980px){
 .home{
   min-height: 40vh;
 }
 .home-row {
  height: 40vh;
 }
 
 .home-col {
  height: 30vh;
 }
 
 .about{
   height: 30vh;
 }
 
 .licensing-info{
   height: 80vh;
 }
 
 .basic h3{
   margin-top: 12%;
   padding-bottom: 25px;
 }
 
 .service{
   height: 60vh;
 }
 
 .service .col-6{
   padding: 10px 5px;
   display: block;
   
   margin: 0 auto;
   text-align: center;
   margin-top: 30px;
 }
 
 
 .service .col-6 h1 {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 20px;
}

.service .col-6 p{
  font-size: 25px;
}

.service .col-4 h3{
  font-size: 20px;
  text-align: center;
  background-color: black;
  padding: 10px 15px;
  width: 40%;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
}

 
 
 
 
 
 
 
 .contact{
   height: 30vh;
 }
 
 .contact-div{
   height: 30vh;
 }
 
 .contact-div #submit-massage{
   top: 55%;
 }
}